footer {
  padding: 5rem 0 0 0;
  background-color: var(--secondary_color);

  color: var(--main_color);
}

footer .container {
  margin: 0;
  color: var(--light_white);
}
footer .container .content {
  display: flex;
  gap: 5rem;
  align-items: start;
  justify-content: space-between;
}
footer .container .content .box h3 {
  font-family: "Ubuntu-Bold";
  font-size: 2rem;
}

footer .container .content .box {
  display: grid;
  gap: 3rem;
  margin-top: 10rem;
}
footer .container .content .box > div {
  display: grid;
  gap: 2rem;
  font-family: "Ubuntu-Regular";
  font-size: 1.4rem;
}
footer .copy_right {
  text-align: center;
  font-family: "Ubuntu-Regular";
  font-size: 1.4rem;
  padding: 5rem 0 2rem 0;
}
footer .container .content .box .social {
  display: flex;
  gap: 1rem;
}
footer .container .content .box .social i {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--main_color);
  color: var(--secondary_color);
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 1s;
}
footer .container .content .box .social i:hover {
  background-color: transparent;
  color: var(--white);
}
@media (max-width: 992px) {
  footer .container .content {
    flex-wrap: wrap;
  }
  footer .container .content .box {
    margin-left: 2rem;
  }
  footer img {
    width: 100%;
  }
}
